/* color scheme

dark red #BD5A4F
red #EC7063
light red #FADBD8

dark green #429866
green #59D78E
light green #D4EFDF

dark blue #4A8AB5
blue #5EAEE3
light blue #D6EAF8

black #000
white #FFF
*/


/*
*
site styles
*
*/

html,body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: auto 0px; 
    overflow-y: scroll;
    min-height: 100vh;
}

#body {
    pointer-events: all;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}

h1 {
    font-family: 'Itim', cursive;
    font-weight: normal;
    font-size: 40px;
}

h2 {
    font-weight: normal;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}

h3 {
    font-weight: normal;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

.highlight-red {
    color: #BD5A4F;
}

.highlight-blue {
    color: #4A8AB5;
}

.highlight-green {
    color: #429866;
}

/*
*
mobile nav - mobile view
*
*/

.mobile-nav {
    overflow: hidden;
    background-color: #FFF;
    position: relative;
    display: none;
    font-family: 'Rubik', sans-serif;

    position: sticky;
    top: -0.5px;
    z-index: 100;
}

.mobile-nav #mobile-links {
    display: none;
}

.mobile-nav img {
    height: 100%;
}

.mobile-nav a {
    color: #000;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    height:20px;
}

.mobile-nav a.hamburger-icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin:0;
}

.mobile-nav a:hover {
    background-color: #DDD;
    color: black;
}

.mobile-nav a.hamburger-icon div {
    width: 30px;
    height: 3px;
    background-color: #FFF;
    margin-bottom: 6px;
}

/*
*
side bar - desktop view
*
*/

#sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    border-right: solid 5px #BD5A4F;
    background-color: #FFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*
*
sidebar : nav
*
*/

#sidebar nav {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    display: table-cell;
    vertical-align: middle;
    margin-left: 2vw;
}

#sidebar nav ul {
    padding: 0;
}

#sidebar nav li {
    list-style: none;
    margin: 5vh 0px 5vh 0px;
}

#sidebar nav li a {
    text-decoration: none;
    color: #000;
}

#sidebar nav li a.active {
    text-decoration: underline;
}

#sidebar nav img {
    height: 75px;
    width: 75px;
    padding-right: 5px;
    vertical-align: middle;
}

/*
*
side bar : top
*
*/

#top-sidebar {
    text-align: center;
    padding-top: 25px;
}

#top-sidebar h3 {
    margin-bottom: 0px;
    font-size: 18px;
}

#top-sidebar p {
    font-size: 16px;
    margin: 0px;
}

#top-sidebar img {
    max-width: 80%;
}

/*
*
side bar : language options
*
*/

#language-options {
    text-align: center;
    padding-bottom: 25px;
    visibility: hidden;
}

#language-options p {
    display: inline;
}

#language-options button {
    display: inline;
    border: none;
    background-color: transparent;
}


/*
*
main content for every page
*
*/

#main {
    margin-left: 20%;
    font-size: 12px;
    padding: 0;
}

button{
    font-family: 'Rubik', sans-serif;
}

/*
*
main content : top header
*
*/

#top-main {
    background-color: #FADBD8;
    text-align: center;
}

#top-main img {
    margin-top: 25px;
    width: 100px;
    height: auto;
}

#top-main h1 {
    color:#BD5A4F;
    margin-bottom: 0;
    height: fit-content;
}

/*
*
main content : tags nav
*
*/

#tags-nav {
    font-family: 'Rubik', sans-serif;
    width:100%;
    background-color: #FADBD8;
}

#tags-nav h3 {
    margin: 0;
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

#tags-nav button {
    border: 10px solid transparent;
    border-image: url("/images/icons/tag.png") 30% stretch;
    background-color: #FFF;
    background-clip: padding-box;
    margin: 10px;
    text-align: center;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

#tags-nav button:hover { 
    color: #EC7063;   
}

#tags-nav button.active {
    background-color: #EC7063;
    color: #FFF;
    background-clip: padding-box;
    border-image: url("/images/icons/tagselected.png") 30% stretch;
}


/*
*
main content : works grid
*
*/

#works {
    font-family: 'Rubik', sans-serif;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin: 10px;
}

.works.hide {
    display: none;
}

.works {
    padding: 25px;
    background: grey;
    display: flex;
    flex-wrap: nowrap;

    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.works:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(100%);
}

.works:hover {
    /* cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur69.cur), auto; */
    cursor:help;
}

.works h3 {
    margin: 0px;
    color: #FFF;
    background-color: #BD5A4F;
    width: fit-content;
    height: fit-content;
}

.works p {
    visibility: hidden;
    font-size: 13pt;
    width: fit-content;
    height: fit-content;
    color: #EC7063;
    background-color: #FFF;
}

.works:hover p {
    visibility: visible;
}

/* about main content

dark blue #4A8AB5
blue #5EAEE3
light blue #D6EAF8
*/

#about-main {
    background-color: #D6EAF8;
    text-align: center;
}

#about-main img {
    margin-top: 25px;
    width: 100px;
    height: auto;
}

#about-main h1 {
    color:#4A8AB5;
    margin-bottom: 0;
    height: fit-content;
}

#about {
    /* align-items: center; */
    display: flex;
    justify-content:space-between;
    padding: 25px;
}

#about img {
    width: 75%;
    height: fit-content;
    
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}

#about p {
    font-size: 16px; 
    text-align: center; 
    padding-left: 25px;
}

#about .about-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

#about .about-left button {
    background-color: #BD5A4F;
    border-radius: 10px;
    border-color: transparent;
    color: #FFF;
    float: right;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;

    margin-top: 25px;
}

#about p {
    font-size: 16px; 
    text-align: center; 
    padding-left: 25px;
}
#about h3 {
    text-align: center; 
}

#about #games-grid {
    display: flex;
    flex-direction: row;
}

#about #games-grid .current-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#about #games-grid .current-games img{
    width: 15vw;
}

#about #games-grid .current-games p{
    text-align: center;
}


/* works animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* works images */

#ctc {
    background-image: url("/images/thumbnails/cheddarthecat-thumb.png");
}

#zrb {
    background-image: url("/images/thumbnails/zeldaringbox-thumb.jpg");
}

#cz {
    background-image: url("/images/thumbnails/camazotz-thumb.png");
}

#wm {
    background-image: url("/images/thumbnails/wolfman-thumb.png");
}

#bff {
    background-image: url("/images/thumbnails/bffs-thumb.png");
}

#ch {
    background-image: url("/images/thumbnails/clearinghouse-thumb.jpg");
}

#mb {
    background-image: url("/images/thumbnails/mosquito-thumb.png");
}

#fmw {
    background-image: url("/images/thumbnails/webstrates-thumb.jpg");
}

#clr {
    background-image: url("/images/thumbnails/robot-thumb.jpg");
}

#oh {
    background-image: url("/images/thumbnails/octo-thumb.jpg");
}

#pc {
    background-image: url("/images/thumbnails/clueless-thumb.jpg");
}

#jtf {
    background-image: url("/images/thumbnails/judge-thumb.jpg");
}

#tid {
    background-image: url("/images/thumbnails/trauma-thumb.jpg");
}

#tracks {
    background-image: url("/images/thumbnails/10tracks-thumb.png");
}


/*
*
overlays for works
*
*/

div#overlayBG {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}

.overlay {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 25px 25px 25px;
    width: 80vw;
    height: 85vh;
    margin-top: 5vh;
    overflow-y: scroll;
}

.overlay button {
    background-color: transparent;
    border-radius: 10px;
    border-color: transparent;
    color: #000;
    float: right;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.overlay button:hover {
    background-color: #FADBD8;
}

.overlay #overlay-body {
    width: 55vw;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    z-index: 225;
}

.overlay #work-top {
    background-color: #FFF;
    padding-top:25px;
    position:sticky;
    top: 0;
    z-index: 250;
}

.overlay #work-top #work-title {
    margin: 0;
    padding-bottom: 10px;
    /* font-size: 18px; */
}

.overlay #work-top #work-subtitle {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    font-style: italic;
    font-size: 18px;
}

.overlay #title {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.overlay #title #flex-right {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.overlay #title #flex-right img {
    margin-right: 25px;
    align-self: flex-end;
}

.overlay #title #flex-right button {
    align-self: flex-start;
}

.overlay #role {
    display: flex;
    justify-content: space-between;
}

.overlay #work-subtitle {
    display: block;
}

.overlay #work-tags {
    padding: 10px;
    text-align: center;
    line-height: 40px;
}

.overlay #work-tags span {
    border: 10px solid transparent;
    border-image: url("/images/icons/tagselected.png") 30% stretch;
    background-color: #EC7063;
    background-clip: padding-box;
    margin: 10px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
}

.overlay #work-slideshow img {
    height: 35vw;
    display:none;
    margin-left: auto;
    margin-right: auto;
}

.overlay #work-slideshow button {
    background-color: #FADBD8;
    color: #BD5A4F;
    float: none;
    display: inline-block;
    margin: 5px;
}

.overlay #work-slideshow {
    text-align: center;
}

.overlay #work-featured span{
    display: block;
    padding-bottom: 10px;
}

.overlay .center {
    text-align: center;
}

.overlay h3 span.work-h3 {
    text-decoration: underline;
    font-size: 18px;
    color: #BD5A4F;
}

.overlay h3 {
    font-size: 16px;
    color: #000;
}

.overlay p { 
    font-size: 16px;
    padding: 10px;
    background-color: #FADBD8;
}

/*
*
main content : scroll to top
*
*/

#scroll-top {
    --offset: 50px; 

  position: sticky;
  bottom: 20px;      
  margin-right:20px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  
  width:45px;
  aspect-ratio:1;
  background:#4a8ab5;
  border-radius:10px;
}

#scroll-top:before {
    content:"";
    position:absolute;
    inset:30%;
    transform:translateY(20%) rotate(-45deg);
    border-top:5px solid #fff;
    border-right:5px solid #fff;
  }

/*
*
main content : contact
*
*/

#contact {
    background-color: #429866;
    text-align: center;
    color: white;
    padding: 25px;
}

#contact img{
    width: 35px;
    height: 35px;
    margin: 0px 6px 0px 6px;
    border: solid 1px transparent;
    border-radius: 500px;
    padding: 0;
}

#contact img:hover{
    cursor: pointer;    
    background-color: #BD5A4F;
}

#contact p {
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 0;
}